 <div class="hiheader">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-7 hidden-xs">
                            <div class="title-hiheader">
                                <h4>Hệ Thống Trường Liên Cấp Việt Nhật</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-2 col-12">
                            <div class="irs-social irs-center-2 text-right">
                              <a href="#" style="color: var(--color-primary-light) ;"> Đăng nhập</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="navigation-wrap bg-light start-header start-style">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <nav class="navbar navbar-expand-md navbar-light">

                                <a class="navbar-brand" href="/trang-chu">
                                    <img src="/images/logovn-2295.png" alt=""></a>

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav ml-auto py-4 py-md-0">
                                        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                                            <a class="nav-link" href="/trang-chu">Trang Chủ</a>
                                        </li>
                                        
                                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 ">
                                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Giới Thiệu</a>
                                                    <div class="dropdown-menu">
                                                        
                                                                <a class="dropdown-item" href="/gioithieu/index">ĐỘI NGŨ GIÁO VIÊN TRƯỜNG LIÊN CẤP VIỆT NHẬT</a>
                                                            
                                                                <a class="dropdown-item" href="/gioithieu/index">CƠ CẤU TỔ CHỨC HỆ THỐNG</a>
                                                            
                                                                <a class="dropdown-item" href="/gioithieu/index">ĐỐI TÁC CHIẾN LƯỢC</a>
                                                            
                                                                <a class="dropdown-item" href="/gioithieu/index">THÀNH TỰU VIỆT NHẬT</a>
                                                            
                                                                <a class="dropdown-item" href="/gioithieu/index">CƠ SỞ VẬT CHẤT TRƯỜNG LIÊN CẤP VIỆT NHẬT</a>
                                                            
                                                    </div>
                                                </li>
                                            
                                           
                                        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tin Tức</a>
                                            <div class="dropdown-menu">
                                                
                                                        <a class="dropdown-item" href="/news/thongbaomoi">Thông Báo Mới</a>
                                                    
                                                        <a class="dropdown-item" href="/news/hoatdongsukien">Hoạt Động - Sự Kiện</a>
                                                    
                                                
                                            </div>
                                        </li>
                                        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Thư Viện</a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Sách</a>
                                                <a class="dropdown-item" href="thuvien/thuvienanh">Thư Viện Ảnh</a>
                                                <a class="dropdown-item" href="thuvien/thuvienvideo">Thư Viện Video</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>