<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <%--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />--%>
    <link rel="stylesheet" href="/css/fontawesome.css" />
    <link rel="stylesheet" href="/css/fontawesome.min.css" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/slick.css" rel="stylesheet" />
    <link href="~/css/slick-theme.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/nanogallery2.min.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="~/css/gamebasic.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css" />
   <script src="~/admin_js/sweetalert.min.js"></script>
  <link href="~/css/web_GameGiaiCuu.css" rel="stylesheet" />    <!--font-->
    <link href="~/css/fontsface.css" rel="stylesheet" />



    <!--wowjs-->
    <script src="~/js/wow.js"></script>
    <script src="~/js/wow.min.js"></script>
    <!--slide-->
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
</head>
<body>
   <partial name="_Header.cshtml" />
   @RenderBody()
   <partial name="_Footer.cshtml" />
</body>
</html>
