<div class="style-breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./Default.aspx">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Tin tức</a></li>
            <li class="breadcrumb-item active">
                <span id="higlobal_lblNoiDung"></span>
            </li>
        </ol>
    </div>
</div>

<section class="irs-blog-field">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 d-none d-sm-none d-md-block ">
                <div class="sticky-top">
                    <div class="irs-side-bar">

                        <!-------Menu loai tin tuc------>
                        <div class="irs-categories">
                            <div class="irs-sidebar-title">
                                <h3>Tin tức</h3>
                            </div>
                            <ul>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <a href=""></a>
                                       
                                </li>
                            </ul>
                        </div>
                        <!-------Fanpage------>
                        <div class="irs-video">
                            <div class="irs-sidebar-title">
                                <h3>Facebook</h3>
                            </div>
                            <div id="fb-root"></div>
                            <script async defer crossorigin="anonymous"
                                src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v5.0"></script>
                            <div class="fb-page" data-href="https://www.facebook.com/TruongLienCapVietNhat/"
                                data-tabs="timeline" data-width="" data-height="" data-small-header="true"
                                data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                <blockquote cite="https://www.facebook.com/TruongLienCapVietNhat/"
                                    class="fb-xfbml-parse-ignore"><a
                                        href="https://www.facebook.com/TruongLienCapVietNhat/">Facebook</a></blockquote>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-9 col-sm-12">
                <div class="title-block">
                    <h2 class="color1">
                        <span id="">Góc tuyển sinh</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-image-top">
                                <img class="card-img-top img-thumbnail" src="" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">kjhdfkgjdhfkjdkghdfkjghdfkgjdf</a></h5>
                                <p class="card-text">bvnvbnvbn</p>
                                <a href="">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>