<div class="style-breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./Default.aspx">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Tin tức</a></li>
                <li class="breadcrumb-item active">
                    <span id="higlobal_lblNoiDung">Thông Báo Mới</span>
                </li>
            </ol>
        </div>
    </div>

<section class="irs-blog-field">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 d-none d-sm-none d-md-block ">
                    <div class="sticky-top">
                        <div class="irs-side-bar">

                            <!-------Menu loai tin tuc------>
                            <div class="irs-categories">
                                <div class="irs-sidebar-title">
                                    <h3>Tin tức</h3>
                                </div>
                                <ul>
                                    
                                            <li>
                                                <i class="fa fa-check" aria-hidden="true"></i><a href="../../tin-tuc/Thong-Bao-Moi-1">Thông Báo Mới</a>
                                            </li>
                                        
                                            <li>
                                                <i class="fa fa-check" aria-hidden="true"></i><a href="../../tin-tuc/Hoat-Dong-Su-Kien-2">Hoạt Động - Sự Kiện</a>
                                            </li>
                                        
                                </ul>
                            </div>
                            <!-------Fanpage------>
                            <div class="irs-video">
                                <div class="irs-sidebar-title">
                                    <h3>Facebook</h3>
                                </div>
                                <div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; width: 0px; height: 0px;"><div></div></div></div>
                                <script async="" defer="" crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&amp;version=v5.0"></script>
                                <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/TruongLienCapVietNhat/" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=255&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FTruongLienCapVietNhat%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=true&amp;tabs=timeline"><span style="vertical-align: bottom; width: 255px; height: 500px;"><iframe name="f2806834a3df118" width="1000px" height="1000px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v5.0/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D46%23cb%3Df69edf72bbe85c%26domain%3Ddemo.vietnhatschool.edu.vn%26origin%3Dhttp%253A%252F%252Fdemo.vietnhatschool.edu.vn%252Ffb86a239e98dfc%26relation%3Dparent.parent&amp;container_width=255&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FTruongLienCapVietNhat%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=true&amp;tabs=timeline" style="border: none; visibility: visible; width: 255px; height: 500px;" class=""></iframe></span></div>
                            </div>
                        </div>
                       
                    </div>

                </div>
                
                        <div class="col-md-9 col-sm-12">
                            <div class="title-block">
                                <h2 class="color1">
                                    <span id="">Thông Báo Mới</span>
                                </h2>
                            </div>
                            <div class="row">
                                
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="card">
                                                <div class="card-image-top">
                                                    <img class="card-img-top img-thumbnail" src="~/assets/images/anh_tintuc/yskwqlve.1b0.jpg" alt="Card image cap">
                                                    
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="card-title"><a href="#">Thổng báo lịch nghỉ học hết ngày 15/03/2020</a></h5>
                                                    <p class="card-text">Do tình hình dịch covid-19 diễn biến phức tạp. Cho nên nhà trường cho toàn bộ học sinh nghỉ hết ngày 15/03/2020</p>
                                                    <a href="../../tin-tuc/Thong-Bao-Moi/Tho-ng-ba-o-li-ch-nghi-ho-c-he-t-nga-y-15-03-2020-14">Xem thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="card">
                                                <div class="card-image-top">
                                                    <img class="card-img-top img-thumbnail" src="~/assets/images/anh_tintuc/jiu1qmtv.zyz.jpg" alt="Card image cap">
                                                    
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="card-title"><a href="#">Thông Báo Nghĩ Học</a></h5>
                                                    <p class="card-text">Thực hiện công văn số 509/SGDĐT-CTrTT, ngày 28 tháng 02 năm 2020 của Sở Giáo dục và Đào tạo thành phố Đà Nẵng, Trường Việt Nhật xin thông báo học sinh tiếp tục nghỉ học đến hết ngày 08/3/2020 và một số nội dung cụ thể trong công văn 03/TB-VJIS của nhà trường.</p>
                                                    <a href="../../tin-tuc/Thong-Bao-Moi/Thong-Bao-Nghi-Hoc-3">Xem thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                    
                            </div>
                        </div>
                    
            </div>

        </div>

    </section>