@model ThuVienVideoModel
@{
ViewData["Title"] = "Home Page";
}
<section class="portfolio section">
        <div class="container">
            <div class="top-side">
                <h2>Thư Viện Video</h2>
            </div>
             @await Component.InvokeAsync("ThuVien")

            <div class="filters-content-video">
                <div class="row grid" style="position: relative; height: 0px;">
               
                </div>
            </div>

        </div>
    </section>